[user]
	name = Jason Priest
	email = jason@jpriest.me
[core]
	editor = nvim
[push]
	default = simple
[alias]
	au = add -u
	co = commit -v
	coa = commit -v --amend
	cof = commit -v --fixup
	di = diff
	ds = diff --staged
	gr = log --oneline --graph
	graph = log --oneline --graph
	lo = log --oneline
	logo = log --oneline
	rea = rebase --abort
	rec = rebase --continue
	ri = rebase --autosquash -i
	st = status
